<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video games</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <h1>Video games</h1>
  <a href="/games">View games</a>
  <a href="/games/new">New game</a>
  <a href="/genres">View genres</a>
  <a href="/genres/new">Add genre</a>
  <a href="/platforms">View platforms</a>
  <a href="/platforms/new">Add platform</a>
  <a href="/developers">View developers</a>
  <a href="/developers/new">Add developer</a>
</body>
</html>